/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";
@include mat-core();

$lizzo-app-primary: mat-palette($mat-pink);
$lizzo-app-accent: mat-palette($mat-deep-purple, A200, A100, A400);

$lizzo-app-warn: mat-palette($mat-cyan);
$lizzo-app-theme: mat-light-theme(
  $lizzo-app-primary,
  $lizzo-app-accent,
  $lizzo-app-warn
);

@include angular-material-theme($lizzo-app-theme);
